html,
body {
  margin: 0;
  padding: 2px;
  font-family: 'Open Sans', sans-serif;
  /* Photo by Caleb Shong on Unsplash */
  background: #fff url(background.jpg) center top no-repeat;
  background-size: cover;
  height: 100%;
}

.logo {
  text-align: center;
  /* padding-top: 20px; */
}

#wrapper {
  margin: 0 auto;
  height: 100%;
  width: 100%;
}

.header,
.content,
.bottom,
.sep2 {
  width: 100%;
  float: left;
}

.header {
  margin-top: 70px;
  margin-bottom: 40px;
}


h1 {
  font-family: 'Open Sans', sans-serif;
  color: #dced66;
  text-align: center;
  font-size: 50px;
  font-weight: 300;
  margin: 0 0 10px 0;
}


.header h1  {
  font-size: 38px;
  font-weight: 700;
}

h2 {
  text-align: center;
  font-weight: 300;
  font-size: 20px;
  color: #ffffff;
}

a h2 {
  text-align: center;
  font-weight: 300;
  font-size: 20px;
  color: black;
}

h2 strong {
  font-weight: 700;
  font-style: italic;
}


.information {
  padding-top: 15px;
  margin: 0 auto;
  text-align: center;
}

.button {
  background-color: #dced66;
  border: none;
  color: white;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  border-radius: 22px;
  box-shadow: 5px 5px black;
}

h3 {
  font-size: 28px;
  font-weight: 600;
  color: #ffffff;
}

.information p {
  font-size: 16px;
  color: black;
  display: block;
}

.information a {
  text-align: center;
  font-size: 16px;
  color: black;
  text-decoration: none;
}

.information a h2 {
  color: black;
}

a {
  color: #FFF;
  font-weight: 700;
}

a:visited,
a:hover {
  color: #FFF;
}